2-login-code--zEyLpnNJeapT9auj.json
{
  "updatedAt": "2026-04-06T19:54:28.230Z",
  "createdAt": "2026-04-06T10:09:13.492Z",
  "id": "zEyLpnNJeapT9auj",
  "name": "2. Login Code",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-login",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "meta-login-code",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      }
    },
    {
      "id": "if-valid",
      "name": "Validar si contiene el code",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        500,
        300
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.body.code || $json.code }}",
              "rightValue": ""
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      }
    },
    {
      "id": "http-exchange",
      "name": "Intercambiar Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/oauth/access_token?client_id={{ $env.META_APP_ID }}&client_secret={{ $env.META_APP_SECRET }}&code={{ $json.body.code || $json.code }}",
        "options": {}
      }
    },
    {
      "id": "code-process",
      "name": "Procesar Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        200
      ],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const response = items[0].json;\nconst accessToken = response.access_token || '';\nconst tokenType = response.token_type || 'bearer';\n\nif (!accessToken) {\n  throw new Error('No se recibio access_token de Meta Graph API');\n}\n\nreturn [{\n  json: {\n    access_token: accessToken,\n    token_type: tokenType,\n    status: 'token_exchanged',\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "set-result",
      "name": "Guardar Nombre Credencial",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        200
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "status",
              "type": "string",
              "value": "ok"
            },
            {
              "id": "r2",
              "name": "message",
              "type": "string",
              "value": "Token intercambiado. Crear credencial Bearer en n8n con este token."
            },
            {
              "id": "r3",
              "name": "access_token",
              "type": "string",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "includeOtherFields": false
      }
    },
    {
      "id": "set-cancelled",
      "name": "Onboarding Cancelado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        450
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "x1",
              "name": "status",
              "type": "string",
              "value": "cancelled"
            },
            {
              "id": "x2",
              "name": "message",
              "type": "string",
              "value": "Onboarding cancelado - no se recibio code"
            }
          ]
        },
        "includeOtherFields": false
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar si contiene el code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar si contiene el code": {
      "main": [
        [
          {
            "node": "Intercambiar Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Onboarding Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intercambiar Token": {
      "main": [
        [
          {
            "node": "Procesar Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Token": {
      "main": [
        [
          {
            "node": "Guardar Nombre Credencial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "85c94bbb-12a9-4208-86ac-01cb950903e8",
  "activeVersionId": "85c94bbb-12a9-4208-86ac-01cb950903e8",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-06T10:09:13.492Z",
      "createdAt": "2026-04-06T10:09:13.492Z",
      "role": "workflow:owner",
      "workflowId": "zEyLpnNJeapT9auj",
      "projectId": "FDln7onnPuCnwaFe"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-06T19:55:32.176Z",
    "createdAt": "2026-04-06T19:54:28.232Z",
    "versionId": "85c94bbb-12a9-4208-86ac-01cb950903e8",
    "workflowId": "zEyLpnNJeapT9auj",
    "nodes": [
      {
        "id": "webhook-login",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          260,
          300
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "meta-login-code",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson"
        }
      },
      {
        "id": "if-valid",
        "name": "Validar si contiene el code",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          500,
          300
        ],
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "c1",
                "operator": {
                  "type": "string",
                  "operation": "isNotEmpty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.body.code || $json.code }}",
                "rightValue": ""
              }
            ],
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            }
          }
        }
      },
      {
        "id": "http-exchange",
        "name": "Intercambiar Token",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          740,
          200
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://graph.facebook.com/v21.0/oauth/access_token?client_id={{ $env.META_APP_ID }}&client_secret={{ $env.META_APP_SECRET }}&code={{ $json.body.code || $json.code }}",
          "options": {}
        }
      },
      {
        "id": "code-process",
        "name": "Procesar Token",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          980,
          200
        ],
        "parameters": {
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "jsCode": "const response = items[0].json;\nconst accessToken = response.access_token || '';\nconst tokenType = response.token_type || 'bearer';\n\nif (!accessToken) {\n  throw new Error('No se recibio access_token de Meta Graph API');\n}\n\nreturn [{\n  json: {\n    access_token: accessToken,\n    token_type: tokenType,\n    status: 'token_exchanged',\n    timestamp: new Date().toISOString()\n  }\n}];"
        }
      },
      {
        "id": "set-result",
        "name": "Guardar Nombre Credencial",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1220,
          200
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "r1",
                "name": "status",
                "type": "string",
                "value": "ok"
              },
              {
                "id": "r2",
                "name": "message",
                "type": "string",
                "value": "Token intercambiado. Crear credencial Bearer en n8n con este token."
              },
              {
                "id": "r3",
                "name": "access_token",
                "type": "string",
                "value": "={{ $json.access_token }}"
              }
            ]
          },
          "includeOtherFields": false
        }
      },
      {
        "id": "set-cancelled",
        "name": "Onboarding Cancelado",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          740,
          450
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "x1",
                "name": "status",
                "type": "string",
                "value": "cancelled"
              },
              {
                "id": "x2",
                "name": "message",
                "type": "string",
                "value": "Onboarding cancelado - no se recibio code"
              }
            ]
          },
          "includeOtherFields": false
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Validar si contiene el code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar si contiene el code": {
        "main": [
          [
            {
              "node": "Intercambiar Token",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Onboarding Cancelado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Intercambiar Token": {
        "main": [
          [
            {
              "node": "Procesar Token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Procesar Token": {
        "main": [
          [
            {
              "node": "Guardar Nombre Credencial",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Arnaldo Ayala",
    "name": "Version 85c94bbb",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}