3-suscribir-webhooks--r7xmihHdyTDYRQyA.json
{
  "updatedAt": "2026-04-06T20:10:14.639Z",
  "createdAt": "2026-04-06T10:09:33.778Z",
  "id": "r7xmihHdyTDYRQyA",
  "name": "3. Suscribir Webhooks",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        272,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sc1",
              "name": "client_name",
              "type": "string",
              "value": "NOMBRE_DEL_CLIENTE"
            },
            {
              "id": "sc2",
              "name": "waba_id",
              "type": "string",
              "value": "WABA_ID_DEL_CLIENTE"
            }
          ]
        },
        "options": {}
      },
      "id": "set-client",
      "name": "Set Client",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        304
      ],
      "notes": "Nombre del cliente, debes insertarlo manual"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.waba_id }}/phone_numbers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http-get-waba",
      "name": "Obtener Waba ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "z37qsm7MWbHGxXHa",
          "name": "Meta - Proveedor Lovbot"
        }
      },
      "notes": "Busca en la base de datos el registro que se insertó al momento de que se realizó el onboarding"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "f1",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.data[0].id }}",
              "rightValue": ""
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "filter-valid",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        928,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.data[0].id }}/whatsapp_business_profile",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "http-subscribe",
      "name": "Suscripcion Webhooks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "z37qsm7MWbHGxXHa",
          "name": "Meta - Proveedor Lovbot"
        }
      },
      "notes": "Se usa la credencial generada al momento del onboarding que contiene el token permanente intercambiado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "l1",
              "name": "status",
              "type": "string",
              "value": "webhooks_subscribed"
            },
            {
              "id": "l2",
              "name": "client_name",
              "type": "string",
              "value": "={{ $('Set Client').item.json.client_name }}"
            },
            {
              "id": "l3",
              "name": "timestamp",
              "type": "string",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-log",
      "name": "Actualizar Suscripcion Webhooks",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        304
      ],
      "notes": "Aquí únicamente se agregar un registro en la tabla de que se realizó este proceso"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Set Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Client": {
      "main": [
        [
          {
            "node": "Obtener Waba ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Waba ID": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Suscripcion Webhooks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suscripcion Webhooks": {
      "main": [
        [
          {
            "node": "Actualizar Suscripcion Webhooks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9346984c-fb2c-4a06-97d0-9b5b905d8ff5",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-06T10:09:33.778Z",
      "createdAt": "2026-04-06T10:09:33.778Z",
      "role": "workflow:owner",
      "workflowId": "r7xmihHdyTDYRQyA",
      "projectId": "FDln7onnPuCnwaFe"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}