crm-ia---buscar-en-web--mRwlkAD4TQQuhrpE.json
{
  "updatedAt": "2026-04-16T09:04:56.635Z",
  "createdAt": "2026-04-16T09:04:56.635Z",
  "id": "mRwlkAD4TQQuhrpE",
  "name": "CRM IA - Buscar en Web",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-web",
      "name": "Trigger Busqueda",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      }
    },
    {
      "id": "http-tavily",
      "name": "Tavily Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"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\",\n  \"query\": \"{{ $json.query }} inmobiliaria\",\n  \"search_depth\": \"basic\",\n  \"max_results\": 5,\n  \"include_answer\": true\n}",
        "options": {}
      }
    },
    {
      "id": "format-result",
      "name": "Formatear Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst answer = data.answer || '';\nconst results = (data.results || []).slice(0, 3).map(r => `- ${r.title}: ${r.content?.slice(0,200)}...`).join('\\n');\nreturn [{ json: { resultado: answer ? answer + '\\n\\nFuentes:\\n' + results : results || 'Sin resultados encontrados.' }}];"
      }
    }
  ],
  "connections": {
    "Trigger Busqueda": {
      "main": [
        [
          {
            "node": "Tavily Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "main": [
        [
          {
            "node": "Formatear Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "24dfc213-8bba-4674-8921-5c63f3809072",
  "activeVersionId": "24dfc213-8bba-4674-8921-5c63f3809072",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-16T09:04:56.635Z",
      "createdAt": "2026-04-16T09:04:56.635Z",
      "role": "workflow:owner",
      "workflowId": "mRwlkAD4TQQuhrpE",
      "projectId": "FDln7onnPuCnwaFe"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-16T09:08:28.580Z",
    "createdAt": "2026-04-16T09:04:56.642Z",
    "versionId": "24dfc213-8bba-4674-8921-5c63f3809072",
    "workflowId": "mRwlkAD4TQQuhrpE",
    "nodes": [
      {
        "id": "trigger-web",
        "name": "Trigger Busqueda",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "query"
              }
            ]
          }
        }
      },
      {
        "id": "http-tavily",
        "name": "Tavily Search",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          480,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"api_key\": \"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\",\n  \"query\": \"{{ $json.query }} inmobiliaria\",\n  \"search_depth\": \"basic\",\n  \"max_results\": 5,\n  \"include_answer\": true\n}",
          "options": {}
        }
      },
      {
        "id": "format-result",
        "name": "Formatear Resultado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          300
        ],
        "parameters": {
          "jsCode": "const data = $input.first().json;\nconst answer = data.answer || '';\nconst results = (data.results || []).slice(0, 3).map(r => `- ${r.title}: ${r.content?.slice(0,200)}...`).join('\\n');\nreturn [{ json: { resultado: answer ? answer + '\\n\\nFuentes:\\n' + results : results || 'Sin resultados encontrados.' }}];"
        }
      }
    ],
    "connections": {
      "Trigger Busqueda": {
        "main": [
          [
            {
              "node": "Tavily Search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tavily Search": {
        "main": [
          [
            {
              "node": "Formatear Resultado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Arnaldo Ayala",
    "name": "Version 24dfc213",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}