crm-ia---ejecutar-sql--0t32XZ9AuQXB9fOn.json
{
  "updatedAt": "2026-04-16T13:49:16.107Z",
  "createdAt": "2026-04-16T08:58:09.233Z",
  "id": "0t32XZ9AuQXB9fOn",
  "name": "CRM IA - Ejecutar SQL",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sql_command"
            },
            {
              "name": "tenant_slug"
            }
          ]
        }
      },
      "id": "trigger-sub",
      "name": "Trigger Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.sql_command || '';\nconst tenant = $input.first().json.tenant_slug || 'demo';\n\nfunction extraerSQL(input) {\n  let s = input.trim();\n  const mdMatch = s.match(/```(?:sql)?\\s*([\\s\\S]*?)```/i);\n  if (mdMatch) s = mdMatch[1].trim();\n  const selectIdx = s.search(/\\bSELECT\\b/i);\n  if (selectIdx > 0) s = s.slice(selectIdx);\n  s = s.replace(/;\\s*$/, '').trim();\n  return s;\n}\n\nfunction validarSQL(query) {\n  if (!query || query.trim().length === 0) return false;\n  const cleaned = query.trim();\n  // Word boundaries para evitar falsos positivos en columnas como created_at, inserted_by, etc.\n  const prohibidos = /\\bDROP\\b|\\bTRUNCATE\\b|\\bDELETE\\b|\\bUPDATE\\b|\\bALTER\\b|\\bINSERT\\b|\\bCREATE\\b|\\bGRANT\\b|\\bREVOKE\\b|\\bCOPY\\b|information_schema|pg_catalog/i;\n  if (prohibidos.test(cleaned)) return false;\n  if (!/^SELECT\\b/i.test(cleaned)) return false;\n  return true;\n}\n\nfunction inyectarTenant(query, tenantSlug) {\n  if (query.toLowerCase().includes('tenant_slug')) return query;\n  const hasWhere = /\\bWHERE\\b/i.test(query);\n  const orderMatch = query.match(/(ORDER\\s+BY|LIMIT|OFFSET)/i);\n  if (orderMatch) {\n    const idx = query.toLowerCase().indexOf(orderMatch[0].toLowerCase());\n    const before = query.slice(0, idx).trimEnd();\n    const after = query.slice(idx);\n    return hasWhere\n      ? before + ` AND tenant_slug = '${tenantSlug}' ` + after\n      : before + ` WHERE tenant_slug = '${tenantSlug}' ` + after;\n  }\n  return hasWhere\n    ? query + ` AND tenant_slug = '${tenantSlug}'`\n    : query + ` WHERE tenant_slug = '${tenantSlug}'`;\n}\n\nconst sqlLimpio = extraerSQL(raw);\nconst esValida = validarSQL(sqlLimpio);\nconst sqlFinal = esValida ? inyectarTenant(sqlLimpio, tenant) : '';\n\nreturn [{ json: {\n  resultado: esValida ? 'SQL_VALIDO' : 'SQL_INVALIDO',\n  sql_final: sqlFinal,\n  sql_original: raw,\n  tenant_slug: tenant\n}}];"
      },
      "id": "validate-sql",
      "name": "Validar SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "chk1",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "SQL_VALIDO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-valid",
      "name": "Es valido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('Validar SQL').item.json.sql_final }}",
        "options": {}
      },
      "id": "exec-sql",
      "name": "Ejecutar Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        192
      ],
      "credentials": {
        "postgres": {
          "id": "KrrcaHvOt03n78e8",
          "name": "Postgres account 2"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "errorMessage": "Consulta no permitida. Solo se aceptan SELECT sobre tablas del CRM."
      },
      "id": "stop-error",
      "name": "SQL Rechazado",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        960,
        432
      ]
    },
    {
      "id": "format-sql-result",
      "name": "Formatear Resultado SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        192
      ],
      "parameters": {
        "jsCode": "const records = $input.all().map(item => item.json);\nconst total = records.length;\n\nif (total === 0) {\n  return [{ json: {\n    resultado: 'Sin registros que coincidan con los criterios. Es probable que no haya datos cargados en la BD para esos filtros.',\n    total: 0,\n    success: true\n  }}];\n}\n\nreturn [{ json: {\n  resultado: JSON.stringify(records, null, 2),\n  total: total,\n  success: true\n}}];"
      }
    }
  ],
  "connections": {
    "Trigger Sub-workflow": {
      "main": [
        [
          {
            "node": "Validar SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar SQL": {
      "main": [
        [
          {
            "node": "Es valido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es valido?": {
      "main": [
        [
          {
            "node": "Ejecutar Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL Rechazado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Query": {
      "main": [
        [
          {
            "node": "Formatear Resultado SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1d4102c3-b650-463f-b9dd-52555cd0c9fb",
  "activeVersionId": "1d4102c3-b650-463f-b9dd-52555cd0c9fb",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-16T08:58:09.233Z",
      "createdAt": "2026-04-16T08:58:09.233Z",
      "role": "workflow:owner",
      "workflowId": "0t32XZ9AuQXB9fOn",
      "projectId": "FDln7onnPuCnwaFe"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-16T13:49:16.108Z",
    "createdAt": "2026-04-16T13:49:16.108Z",
    "versionId": "1d4102c3-b650-463f-b9dd-52555cd0c9fb",
    "workflowId": "0t32XZ9AuQXB9fOn",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "sql_command"
              },
              {
                "name": "tenant_slug"
              }
            ]
          }
        },
        "id": "trigger-sub",
        "name": "Trigger Sub-workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json.sql_command || '';\nconst tenant = $input.first().json.tenant_slug || 'demo';\n\nfunction extraerSQL(input) {\n  let s = input.trim();\n  const mdMatch = s.match(/```(?:sql)?\\s*([\\s\\S]*?)```/i);\n  if (mdMatch) s = mdMatch[1].trim();\n  const selectIdx = s.search(/\\bSELECT\\b/i);\n  if (selectIdx > 0) s = s.slice(selectIdx);\n  s = s.replace(/;\\s*$/, '').trim();\n  return s;\n}\n\nfunction validarSQL(query) {\n  if (!query || query.trim().length === 0) return false;\n  const cleaned = query.trim();\n  // Word boundaries para evitar falsos positivos en columnas como created_at, inserted_by, etc.\n  const prohibidos = /\\bDROP\\b|\\bTRUNCATE\\b|\\bDELETE\\b|\\bUPDATE\\b|\\bALTER\\b|\\bINSERT\\b|\\bCREATE\\b|\\bGRANT\\b|\\bREVOKE\\b|\\bCOPY\\b|information_schema|pg_catalog/i;\n  if (prohibidos.test(cleaned)) return false;\n  if (!/^SELECT\\b/i.test(cleaned)) return false;\n  return true;\n}\n\nfunction inyectarTenant(query, tenantSlug) {\n  if (query.toLowerCase().includes('tenant_slug')) return query;\n  const hasWhere = /\\bWHERE\\b/i.test(query);\n  const orderMatch = query.match(/(ORDER\\s+BY|LIMIT|OFFSET)/i);\n  if (orderMatch) {\n    const idx = query.toLowerCase().indexOf(orderMatch[0].toLowerCase());\n    const before = query.slice(0, idx).trimEnd();\n    const after = query.slice(idx);\n    return hasWhere\n      ? before + ` AND tenant_slug = '${tenantSlug}' ` + after\n      : before + ` WHERE tenant_slug = '${tenantSlug}' ` + after;\n  }\n  return hasWhere\n    ? query + ` AND tenant_slug = '${tenantSlug}'`\n    : query + ` WHERE tenant_slug = '${tenantSlug}'`;\n}\n\nconst sqlLimpio = extraerSQL(raw);\nconst esValida = validarSQL(sqlLimpio);\nconst sqlFinal = esValida ? inyectarTenant(sqlLimpio, tenant) : '';\n\nreturn [{ json: {\n  resultado: esValida ? 'SQL_VALIDO' : 'SQL_INVALIDO',\n  sql_final: sqlFinal,\n  sql_original: raw,\n  tenant_slug: tenant\n}}];"
        },
        "id": "validate-sql",
        "name": "Validar SQL",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "chk1",
                "leftValue": "={{ $json.resultado }}",
                "rightValue": "SQL_VALIDO",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-valid",
        "name": "Es valido?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          720,
          304
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ $('Validar SQL').item.json.sql_final }}",
          "options": {}
        },
        "id": "exec-sql",
        "name": "Ejecutar Query",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          960,
          192
        ],
        "credentials": {
          "postgres": {
            "id": "KrrcaHvOt03n78e8",
            "name": "Postgres account 2"
          }
        },
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "errorMessage": "Consulta no permitida. Solo se aceptan SELECT sobre tablas del CRM."
        },
        "id": "stop-error",
        "name": "SQL Rechazado",
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          960,
          432
        ]
      },
      {
        "id": "format-sql-result",
        "name": "Formatear Resultado SQL",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          192
        ],
        "parameters": {
          "jsCode": "const records = $input.all().map(item => item.json);\nconst total = records.length;\n\nif (total === 0) {\n  return [{ json: {\n    resultado: 'Sin registros que coincidan con los criterios. Es probable que no haya datos cargados en la BD para esos filtros.',\n    total: 0,\n    success: true\n  }}];\n}\n\nreturn [{ json: {\n  resultado: JSON.stringify(records, null, 2),\n  total: total,\n  success: true\n}}];"
        }
      }
    ],
    "connections": {
      "Trigger Sub-workflow": {
        "main": [
          [
            {
              "node": "Validar SQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar SQL": {
        "main": [
          [
            {
              "node": "Es valido?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Es valido?": {
        "main": [
          [
            {
              "node": "Ejecutar Query",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SQL Rechazado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ejecutar Query": {
        "main": [
          [
            {
              "node": "Formatear Resultado SQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Arnaldo Ayala",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}